@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>

</head>

<body>
	<div style="justify-content: center; align-content: center; display: flex; flex-direction: row;">
		<h1>
			Welcome to the restaurant page! You can choose the page from the navigation above.
		</h1>

	</div>
</body>

</html>